.cardEffect {
    position: relative;
    overflow: hidden;
    transform-origin: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.cardEffect:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.cardEffect:hover .overlay {
    opacity: 1;
}

.cardEffect-image {
    position: relative;
}

.cardEffect-image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 35, 64, 0.682);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.cardEffect .description {
    text-align: center;
}

@media (max-width: 900px) {
    .cardEffect .overlay {
        opacity: 1;
    }
}

@media (max-width: 480px) {
    .cardEffect .overlay {
        opacity: 1;
    }
}


