.image {
  filter: blur(2px);
}

.border {
  border-style: solid;
  border-color: white;
}

.image-title {
  font-size: 125px;
  color: white;
  text-shadow: 10px 10px 12px rgba(0, 0, 0, 0.5);
}

.image-subtitle {
  color: white;
}


@media (max-width: 900px) {
  .headerImage {
    display: none;
  }

}



@media (max-width: 480px) {
  .headerImage {
    display: none;
  }
}